# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# TypeScript build artifacts
dist
*.tsbuildinfo

# Environment variables
.env

# Docker
auth/.dockerignore

# Miscellaneous
.DS_Store